html {
  height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  height: 100%;
  display: block;
  overflow: hidden;
  font-family: sans-serif;
  background: transparent !important;
  font-size: 2rem;
}

#editor { 
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-top: 3rem;
}

.CodeMirror {
  width: 100%; height: 100%;
}

a {
  color: #fff;
  text-decoration: none;
}

.underline {
  display: block;
  position: relative;
  padding: 0;
  margin-left: 2rem;
  width: 100%;
  height: 2px;
  bottom: 35%;
  right: 0;
  background-color: #fff;
  -webkit-transition: all 0.25s ease-in-out 0s;
  transition: all 0.25s ease-in-out 0s;
  
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

a:hover .underline {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
